@model Paciente
@{
    ViewData["Title"] = "Crear citas";
}
<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width" />
    <title>Crear citas</title>
    <link rel="stylesheet" href="~/css/CrearCitas.css" />
</head>

<body>
    <h1 class='tittle-text'>Crear Paciente</h1>

    <div class='box-crear-formulario'>
        <h3 class="Subtittle">Datos del Paciente</h3>
        <form asp-action="CreatePaciente" asp-controller="Paciente" method="post">
            <div class='box-data-user'>
                <div class='box-data-user-column1'>
                    <div class="file">
                        <label class="Texto-input">Tipo de documento</label>
                        <select class="input-form" id="Tipo_Documento" name="Tipo_Documento" asp-for="Tipo_Documento">
                            <option value="DNI">DNI</option>
                            <option value="Carné de Extranjería">Carné de Extranjería</option>
                        </select>
                    </div>
                    <div class="file">
                        <label class="Texto-input">Nro. de documento</label>
                        <div class="input-container">
                            <input type="number" class="input-form" asp-for="Nro_DNI" />
                            <button id="boton" class="btn-validar">Validar</button>
                        </div>
                    </div>
                    <div class="file">
                        <label class="Texto-input">Nombres</label>
                        <input class="input-form" asp-for="Nombres" />
                    </div>
                    <div class="file">
                        <label class="Texto-input">Apellidos</label>
                        <input type="text" class="input-form" asp-for="Apellidos" />
                    </div>
                    <div class="file">
                        <label class="Texto-input">Direccion</label>
                        <input type="text" class="input-form" asp-for="Direccion" />
                    </div>
                </div>
                <div class='box-data-user-column2'>
                    <div class="file">
                        <label class="Texto-input">Fecha de nacimiento</label>
                        <input type="date" class="input-form" asp-for="Fecha_Nacimiento" />
                    </div>
                    <div class="file">
                        <label class="Texto-input">Género</label>
                        <select class="input-form" id="Genero" name="Genero" asp-for="Genero">
                            <option value="Masculino">Masculino</option>
                            <option value="Femenino">Femenino</option>
                        </select>
                    </div>
                    <div class="file">
                        <label class="Texto-input">Telefono</label>
                        <input type="number" class="input-form" asp-for="Telefono" />
                    </div>
                    <div class="file">
                        <label class="Texto-input">Correo Electronico</label>
                        <input type="email" class="input-form" asp-for="Email" />
                    </div>
                    <div class="file">
                        <label class="Texto-input">Contraseña</label>
                        <input type="password" class="input-form" asp-for="Password" disabled />
                    </div>
                </div>
            </div>
            <button type="submit" class="btn-formulario">Registrar Paciente</button>
        </form>
    </div>
</body>

</html>