@{
    ViewData["Title"] = "Detalle del paciente";
}
<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <title>Detalle del paciente</title>
        <link rel="stylesheet" href="~/css/Detallepaciente.css" />
    </head>
    <body>
        <div class="box-general">
            <h1 class='tittle-text'>Detalle del paciente</h1>
                <div class='box-content'>
                    <div class='box-user'>
                        <div class='box-user-content'>
                            <img src="https://c0.klipartz.com/pngpicture/81/570/gratis-png-perfil-logo-iconos-de-computadora-usuario-usuario.png" class="photo-perfil" alt="Foto de perfil" />
                            <h4>Paolo Guerrero</h4>
                                <div class='user-information'>
                                    <p>DNI: 15985432</p>
                                    <p>Tipo: Paciente</p>
                                    <p>Estado: Activo</p>
                                    <p>Fecha de Registro: 27/05/2023</p>
                                </div>
                        </div>
                    </div>
                    <div class='box-formulario'>
                    <h3 class="Subtittle">Información General</h3>
                        <div class="form-group">
                            <div class="form-column">
                                <label class="Texto-input">Nombres</label>
                                <input type="text" class="input-form" name="Nombres" disabled/>
                            </div>
                            <div class="form-column">
                                <label class="Texto-input">Fecha de Nacimiento</label>
                                <input type="text" class="input-form" name="Fecha de Nacimiento" disabled/>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="form-column">
                                <label class="Texto-input">Apellidos</label>
                                <input type="text" class="input-form" name="Apellidos" disabled/>
                            </div>
                            <div class="form-column">
                                <label class="Texto-input">Género</label>
                                <input type="text" class="input-form" name="Genero" disabled/>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="form-column">
                                <label class="Texto-input">Email</label>
                                <input type="text" class="input-form" name="Email" disabled/>
                            </div>
                            <div class="form-column">
                                <label class="Texto-input">Teléfono</label>
                                <input type="text" class="input-form" name="Teléfono" disabled/>
                            </div>
                        </div>
                        <h3 class="Subtittle">Ubicación</h3>
                        <div class="form-group">
                            <div class="form-column">
                                <label class="Texto-input">País</label>
                                <input type="text" class="input-form" name="País" disabled/>
                            </div>
                            <div class="form-column">
                                <label class="Texto-input">Provincia</label>
                                <input type="text" class="input-form" name="Provincia" disabled/>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="form-column">
                                <label class="Texto-input">Distrito</label>
                                <input type="text" class="input-form" name="Distrito" disabled/>
                            </div>
                            <div class="form-column">
                                <label class="Texto-input">Código Postal</label>
                                <input type="text" class="input-form" name="Código Postal" disabled/>
                            </div>
                        </div>
                    </div>
                </div>
        </div>
    </body>
</html>