@model Paciente
@{
    ViewData["Title"] = "Crear citas";
}
<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width" />
    <title>Crear citas</title>
    <link rel="stylesheet" href="~/css/CrearCitas.css" />
</head>

<body>
    <h1 class='tittle-text'>@ViewBag.Accion</h1>

    <div class='box-crear-formulario'>
        <h3 class="Subtittle">Datos del Paciente</h3>
        <form asp-action="GuardarPaciente" asp-controller="Paciente" method="post">
            <input type="hidden" asp-for="ID" />
            <div class='box-data-user'>

                <div class='box-data-user-column1'>
                    <div class="file">
                        <label class="Texto-input">Tipo de documento</label>
                        <input type="text" class="input-form"  asp-for="Tipo_Documento" disabled/>
                    </div>
                    <div class="file">
                        <label class="Texto-input">Nro. de documento</label>
                        <div class="input-container">
                            <input id="dni" name="dni" type="number" class="input-form" asp-for="Nro_DNI" disabled/>
                        </div>
                    </div>
                    <div class="file">
                        <label class="Texto-input">Nombres</label>
                        <input id="nombre" type="text" class="input-form" asp-for="Nombres" disabled/>
                    </div>
                    <div class="file">
                        <label class="Texto-input">Apellidos</label>
                        <input  id="apellido" type="text" class="input-form" asp-for="Apellidos" disabled/>
                    </div>
                    <div class="file">
                        <label class="Texto-input">Direccion</label>
                        <input id="direccion" type="text" class="input-form" asp-for="Direccion" />
                    </div>
                </div>
                <div class='box-data-user-column2'>
                    <div class="file">
                        <label class="Texto-input">Fecha de nacimiento</label>
                        <input type="date" class="input-form"  asp-for="Fecha_Nacimiento" />
                    </div>
                    <div class="file">
                        <label class="Texto-input">Género</label>
                        <select class="input-form" id="Genero" name="Genero" asp-for="Genero">
                            <option value="Masculino">Masculino</option>
                            <option value="Femenino">Femenino</option>
                        </select>
                    </div>
                    <div class="file">
                        <label class="Texto-input">Telefono</label>
                        <input type="text" class="input-form" asp-for="Telefono" />
                    </div>
                    <div class="file">
                        <label class="Texto-input">Correo Electronico</label>
                        <input type="text" class="input-form" asp-for="Email" />
                        </select>
                    </div>
                    <div class="file">
                        <label class="Texto-input">Contraseña</label>
                        <input type="text" class="input-form" asp-for="Password" />
                    </div>
                </div>
            </div>
            <button type="submit" class="btn-formulario">Registrar Paciente</button>
        </form>

    </div>

    <script src="~/js/Main.js" asp-append-version="true"></script>
</body>

</html>