@*
For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Listar Paciente";
}
<!DOCTYPE html>

<html>

<head>
    <meta name="viewport" content="width=device-width" />
    <title>Pruebas</title>
    <link rel="stylesheet" href="~/css/Listarpaciente.css" />
    <link rel="stylesheet" href="~/css/General.css" />
</head>

<body>
    <h1 class='tittle-text'>Pacientes Registrados</h1>
    <!-- Contenedor para alinear el buscador y el botón a los extremos -->
    <div class="header-container">
        <!-- Buscador -->
        <div class="search-container">
            <p>Buscar:</p>
            <input type="text" id="searchInput" placeholder="Ingrese el nombre del análisis">
            <button onclick="searchTable()">Buscar</button>
        </div>

        <!-- Botón "Crear Prueba" -->
        <button class="crear-prueba-btn">Crear Prueba</button>
    </div>
    <div class="wrap-table100">
        <div class="table100">
            <table>
                <thead>
                    <tr class="table100-head">
                        <th class="column1">ID</th>
                        <th class="column2">Nombres</th>
                        <th class="column3">Apellidos</th>
                        <th class="column4">DNI</th>
                        <th class="column4">Genero</th>
                        <th class="column5">Email</th>
                        <th class="column6">Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="column1">01</td>
                        <td class="column2">Gustavo Teodoro</td>
                        <td class="column3">Fernandez Cueto</td>
                        <td class="column4">75985698</td>
                        <td class="column4">Masculino</td>
                        <td class="column5">juan@example.com</td>
                        <td class="column6">
                            <div class="acciones-btns">
                                <button class="visualizar-btn">Ver</button>
                                <button class="editar-btn">Editar</button>
                                <button class="eliminar-btn">Eliminar</button>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="column1">01</td>
                        <td class="column2">Análisis de Sangre</td>
                        <td class="column3">$999.00</td>
                        <td class="column4">75985698</td>
                        <td class="column4">Masculino</td>
                        <td class="column5">juan@example.com</td>
                        <td class="column6">
                            <div class="acciones-btns">
                                <button class="visualizar-btn">Ver</button>
                                <button class="editar-btn">Editar</button>
                                <button class="eliminar-btn">Eliminar</button>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="column1">01</td>
                        <td class="column2">Análisis de Sangre</td>
                        <td class="column3">$999.00</td>
                        <td class="column4">75985698</td>
                        <td class="column4">Masculino</td>
                        <td class="column5">juan@example.com</td>
                        <td class="column6">
                            <div class="acciones-btns">
                                <button class="visualizar-btn">Ver</button>
                                <button class="editar-btn">Editar</button>
                                <button class="eliminar-btn">Eliminar</button>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="column1">01</td>
                        <td class="column2">Análisis de Sangre</td>
                        <td class="column3">$999.00</td>
                        <td class="column4">75985698</td>
                        <td class="column4">Masculino</td>
                        <td class="column5">juan@example.com</td>
                        <td class="column6">
                            <div class="acciones-btns">
                                <button class="visualizar-btn">Ver</button>
                                <button class="editar-btn">Editar</button>
                                <button class="eliminar-btn">Eliminar</button>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</body>

</html>